<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="healthhack-footer">
<template>
<footer class="light-bg text-muted row">
    <div class="col-xs-8 text-left">
        <div>HealthHack is an <a href="http://au.okfn.org/code-of-conduct/" target="_blank"> <img src='../static/images/sponsors/okfna.png' alt='Open Knowledge Foundation Australia' class='footer-okfna'></a>
            <a href="http://au.okfn.org/code-of-conduct/" target="_blank">Open Knowledge Foundation Australia event </a>
        </div>
    </div>
    <div class="col-xs-4 text-right">
        <div>Original site development: Thoughtworks Inc.</div>
    </div>
</footer>
</template>
<script>
Polymer({
	is: "healthhack-footer"
})
</script>
</dom-module>