<!DOCTYPE html>
<head>
    <title>
        Organisers
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='icon' type='image/png' href='../static/images/favicon.png'/>
    <link href="header.html" rel="import"/>
    <link href="siteNavBar.html" rel="import"/>
    <link href="organiserTemplate.html" rel="import"/>
    <link href="getInvolvedCallout.html" rel="import"/>
    <link href="submitProblemCallout.html" rel="import"/>
</head>
<body>
<site-nav-bar></site-nav-bar>
<div class="container-white-background">
  <div class="top-container-base top-container-organisers">
      <div class="row">
         <h1>Event Organisers</h1>
         <h3>The people who make it happen</h3>
      </div>
  </div>
  <div class="thin-container-normal">
    <div class="row">
      <div class="col-md-9 text-side" id="organiserList">

        <organiser-template></organiser-template>
        <script src="../static/js/load_organisers.js"></script>

      </div>
      <div class="col-md-3">
        <submit-problem-callout innerclass="right-info-box"></submit-problem-callout>
        <get-involved-callout innerclass="right-info-box"></get-involved-callout>
      </div>
    </div>
  </div>
</div>

</body>
</html>