<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="sponsorTemplate.html"/>
<dom-module id="sponsors-list">
<template>
<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-national-gold" >
  <div class="sponsor-hr">
    <img src="../static/images/sponsors/national-gold.png" class="sponsor-grouping-img" />
  </div>
</div>
<sponsor-record sponsor="data61"></sponsor-record>
<sponsor-record sponsor="thoughtworks"></sponsor-record>
<sponsor-record sponsor="aws"></sponsor-record>
<sponsor-record sponsor="aihw"></sponsor-record>
<sponsor-record sponsor="github"></sponsor-record>
<sponsor-record sponsor="hcf"></sponsor-record>
<sponsor-record sponsor="trello"></sponsor-record>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-gold">
  <div class="sponsor-hr">
    <img src="../static/images/sponsors/community-gold.png" class="sponsor-grouping-img" />
  </div>
</div>
<sponsor-record sponsor="rivercitylabs"></sponsor-record>
<sponsor-record sponsor="garvan"></sponsor-record>
<sponsor-record sponsor="curtin"></sponsor-record>
<sponsor-record sponsor="ace"></sponsor-record>
<sponsor-record sponsor="biomelbourne"></sponsor-record>
<sponsor-record sponsor="fishburners"></sponsor-record>
<sponsor-record sponsor="hopgood"></sponsor-record>
<sponsor-record sponsor="inkubator"></sponsor-record>
<sponsor-record sponsor="intel"></sponsor-record>
<sponsor-record sponsor="itoc"></sponsor-record>
<sponsor-record sponsor="landgate"></sponsor-record>
<sponsor-record sponsor="victoria"></sponsor-record>
<sponsor-record sponsor="vptn"></sponsor-record>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-national-silver" >
  <div class="sponsor-hr">
    <img src="../static/images/sponsors/national-silver.png" class="sponsor-grouping-img" />
  </div>
</div>
<sponsor-record sponsor="lenovo"></sponsor-record>
<sponsor-record sponsor="redhat"></sponsor-record>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-silver">
  <div class="sponsor-hr">
    <img src="../static/images/sponsors/community-silver.png" class="sponsor-grouping-img" />
  </div>
</div>
<sponsor-record sponsor="boomworks"></sponsor-record>
<sponsor-record sponsor="csl"></sponsor-record>
<sponsor-record sponsor="mrci"></sponsor-record>
<sponsor-record sponsor="qcif"></sponsor-record>
<sponsor-record sponsor="qldhealth"></sponsor-record>
<sponsor-record sponsor="rcc"></sponsor-record>
<sponsor-record sponsor="telstra"></sponsor-record>
<sponsor-record sponsor="yorkbutter"></sponsor-record>

<div class="col-md-12 col-xs-12 sponsor-grouping" id="decorator-community-standard">
  <div class="sponsor-hr">
    <img src="../static/images/sponsors/community-standard.png" class="sponsor-grouping-img" />
  </div>
</div>
<sponsor-record sponsor="agrf"></sponsor-record>
<sponsor-record sponsor="chiasma"></sponsor-record>
<sponsor-record sponsor="ssai"></sponsor-record>
<sponsor-record sponsor="tanda"></sponsor-record>

</template>
<script>
Polymer({
  is: "sponsors-list"
})
</script>
</dom-module>







