---
title: This Years Challenges
---
<head>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
    <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/bower_components/juicy-html/juicy-html.html">
    <link rel='import' href="/challenge-wrapper.html">
</head>

<div class="container-white-background">
    <div class="top-container-base top-container-challenges">
        <div class="row">
           <h1>Current Challenges</h1>
           <h3>Browse the current collection of problems and submit your own</h3>
        </div>
    </div>

    <div class="thin-container-normal">
        <div class="row">
            <div class="col-md-9 text-side">
            <challenge-wrapper year="2015"></challenge-wrapper>
            </div>

            
            <div class="col-md-3">
                <%= partial(:submitProblemCallout, :locals => { :className => "right-info-box" }) %>
                <div class="quote-side">
                    <div class="circular-centered" style="background-image: url('../images/misc/top-image.jpg')"></div>
                    <div class="quotes">Health Hack demonstrates how much can be achieved when the spirit of openness is embraced and people work together to deliver an outcome.</div>
                    <p>Dr Ben Fulcher<br>
                        Monash University</p>
                    <div id="triangle-down"></div>
                </div>
            </div>
        </div>
    </div>
</div>
